# Environment
.env

# Composer
/vendor/
composer.lock

# Storage
/storage/logs/*
/storage/cache/*
/storage/temp/*
!storage/logs/.gitkeep
!storage/cache/.gitkeep
!storage/temp/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Debug
*.log
